<!DOCTYPE html>

<html>

<head>
    <title>Weather | About</title>
    <link rel="icon" href="/img/Nelson-Liquidation-logo-2020.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>


<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me1.png">
    </div>

    
    {{>footer}}
</body>

</html>
