<!DOCTYPE html>

<html>

<head>
    <title>Weather | Help</title>
    <link rel="icon" href="/img/Nelson-Liquidation-logo-2020.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>
    
    {{>footer}}

</body>

</html>
